body {
  text-align: center;
  background-image: url("tie-dye-desktop-wallpaper3.jpg");
  font-family: Sans-serif;
  /* font-size: 24px; */
}
  
h1 {
  color: #ffffff;
  font-family: Sans-serif;
}

h4 {
color: #66ff66;
font-family: Sans-serif;
}

#apps {
  color: yellow;
  font-size: 30px;
  font-family: Sans-serif;
}

#games {
  color: yellow;
  font-size: 30px;
  font-family: Sans-serif;
}

