body {
  text-align: center;
  background-image: url("tie-dye-desktop-wallpaper3.jpg");
  font-family: Sans-serif;
  /* font-size: 24px; */
}
  
h1 {
  color: red;
  font-family: Sans-serif;
}

h4 {
color: blue;
font-family: Sans-serif;
}

#apps {
  color: yellow;
  font-size: 30px;
  font-family: Sans-serif;
}

#games {
  color: yellow;
  font-size: 30px;
  font-family: Sans-serif;
}

code {
font-size: 24px;
font-family: Sans-serif;
}
